title: "Georgios Peikos"
description: "NLP • LLMs • RAG • Information Retrieval"
url: "https://GiorgosPeikos.github.io"
markdown: kramdown
permalink: pretty
plugins:
  - jekyll-sitemap
collections:
  projects:
    output: true
    permalink: /projects/:name/
